# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
/dist
database
*.test
*.prof
.idea
.vscode
.junie
/vendor/*
/conf/app.conf
.env
.env.local
/vendor
/runtime
/uploads/*
/_backup_*
